* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif ;
    
}

html, body{
 background: linear-gradient(to bottom, #000107, #262638);
 height: 100%; 
 background-attachment: fixed;
 display: flex;
 flex-direction: column;

}

.nav-bar {
    width: 100%; /* Pour que le nav-bar prenne toute la largeur */
    padding: 15px;
}

.header-container {
    display: flex;
    position: sticky;
    height: 70px;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 15px;
 }

.nav-bar a {
    text-decoration: none;
    box-sizing: content-box;
    padding: 10px 20px;
    position: relative;
    
}
.nav-bar ul {
    display: flex;
    justify-content: space-evenly; /* Espacement égal entre les éléments */
    width: 100%;
    list-style: none;   
   }




.nav-bar a:hover {
    
    text-decoration: none;
    background-color: rgb(206,200,177);
    font-weight: bold;
    transform: scale(1.1) translateZ(0);
    border-radius: 5px;
    outline: 3px solid rgb(206,200,177);
    position: relative;
}



 main {
    flex: 1; /* Permet à la section main de prendre toute l'espace restant */
  }

.main-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: calc(100vh - 60px); /* 100% de la hauteur de l'écran - la hauteur de la nav bar */
    width: 100vw; /* Prendre toute la largeur de l'écran */
    text-align: center;
  }
  
.span {
    margin-top: 30px;
}
 .second-container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px;
    gap: 30px;
  }



.image-container img {
    width:200px;
    height: 200px;
  }


.container-left, .container-right {
    display: flex; 
    flex: 1; /* Donne à chaque partie de l'élément un espace égal */
    text-align: left;
    flex-direction: column; /* Les éléments (titre, texte) sont empilés verticalement */
    justify-content: space-between; /* Espacement égal entre les éléments (titre et texte) */
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    margin-top: 20px;
    width: 100%;
}




/*CV*/

.main-center {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

.title-skills, .skills {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.SECTION-FORMATION {
 margin: 20px;
}
  

/*NOTE - TEST PERSO /*

  /*.container-left, .container-right {
    display: flex;
    flex-direction: column;
  }
  /*     body::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        filter: blur(30px);
        pointer-events: none;
        z-index: -1;
      }

/*body {
    /*background : linear-gradient(147deg, #8C97C1, #BBC7E6,#D5DFF3,#8F99CF,#6063A4,#7277AA,#636492);*/
   /* background: linear-gradient(180deg, #8C97C1, #BBC7E6, #D5DFF3, #8F99CF, #6063A4, #7277AA, #636492);*/

   /* background: linear-gradient(180deg, #0F3D3E, #1B6B6F, #28A19C, #4FBDBA, #CFFAFE);
 /*   background: linear-gradient(180deg, #002362, #074595, #003F86, #002768, #07114E);
    animation: gradientAnimation 12s ease infinite;
    display: flex;
    background-size: 400% 400%;
}



@keyframes gradientAnimation {
    0% { background-position: 50% 0%; }
    50% { background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
}
